    body {
      background-color: white;
      font-family: sans-serif;
      margin: 0;
      padding:0;
      overflow: hidden;
    }
    .blocklySvg {
      height: 100%;
      width: 100%;
    }
    h1 {
      font-weight: normal;
      font-size: 140%;
    }
    td {
      vertical-align: top;
    }

    /* Tabs */
    #tabRow>td {
      border: 1px solid #ccc;
    }
    td.tabon {
      border-bottom-color: #ddd !important;
      background-color: #ddd;
      padding: 5px 19px;
    }
    td.taboff {
      cursor: pointer;
      padding: 5px 19px;
    }
    td.taboff:hover {
      background-color: #eee;
    }
    td.tabmin {
      border-top-style: none !important;
      border-left-style: none !important;
      border-right-style: none !important;
    }
    td.tabmax {
      border-top-style: none !important;
      border-left-style: none !important;
      border-right-style: none !important;
      width: 99%;
      text-align: right;
    }

    table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      border: none;
    }
    td {
      padding: 0;
    }
    pre,
    #content_xml,
    #content_arduino {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: 1px solid #ccc;
      border-top-style: none;
      overflow: hidden;
      display: none;
    }
    #textarea_xml,
    #textarea_arduino {
      width: 100%;
      height: 100%;
      border: none;
      resize: none;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
      border-top-style: none;
    }
    button {
      padding: 1px 1em;
      font-size: 90%;
      border-radius: 4px;
      border: 1px solid #ddd;
      background-color: #eee;
      color: black;
    }
    button.launch {
      border: 1px solid #d43;
      background-color: #d43;
      color: white;
    }
    button:active {
      border: 1px solid blue !important;
    }
    button:hover {
      box-shadow: 2px 2px 5px #888;
    }
    .panel-main{
      margin-top: -30px;
    }